<!DOCTYPE html>
<html>
	<head>
  	<meta charset="utf-8">
		<title>{{ .Title }}</title>
		<link rel="stylesheet" type="text/css" href="/styles.css" />
	</head>
	<body>
  	{{ partial "header.html" . }}

  	<section id="main">
      <p>Hi, I'm Dylan. I'm a software developer that specializes in backend web
        development and system administration. My preferred languages are Ruby,
        Go, and Javascript, but I've used many others and am eager to learn
        everything.</p>
  	</section>

  	{{ partial "footer.html" . }}
	</body>
</html>
