<!DOCTYPE html>
<html>
	<head>
  	<meta charset="utf-8">
		<title>{{ .Title }}</title>
		<link rel="stylesheet" type="text/css" href="/styles.css" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="description" content="I'm a software engineer with experience in full stack web
      development, distributed systems, DevOps, security engineering and mobile app development." />
	</head>
	<body>
  	{{ partial "header.html" . }}

  	<main>
      <section>
        Hi, I'm Dylan. I'm a software engineer with experience in full stack
        web development, distributed systems, DevOps, security engineering and
        mobile app development. My favorite languages are Go, JavaScript, Ruby, and
        Swift, but I love learning and am eager to try new things when needed.

        <p>
          I currently work at <a href="https://braintreepayments.com">Braintree</a> in San Francisco, California.
        </p>
      </section>

      <section>
        <label>Projects</label>
        <div><a href="https://github.com/waits/ntwrk">ntwrk</a></div>
        <div><a href="https://go.waits.io">gogo</a></div>
        <div><a href="https://github.com/waits/dropbox-sdk-ruby">dropbox-sdk-ruby</a></div>
        <div><a href="https://github.com/waits/unwrapped">unwrapped</a></div>
      </section>

      <section>
        <label>Contact</label>
        <div><a href="mailto:dylan@waits.io">dylan@waits.io</a></div>
        <div><a href="https://github.com/waits">@waits</a></div>
        <div><a href="/resume.pdf">résumé</a></div>
      </section>

      <section>
        <label>Security</label>
        <div>pgp <a href="/keys/pgp_rsa.pub">rsa</a></div>
        <div>ssh <a href="/keys/ssh_rsa.pub">rsa</a> <a href="/keys/ssh_ecdsa.pub">ecdsa</a></div>
      </section>
  	</main>

  	{{ partial "footer.html" . }}
	</body>
</html>
